.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 100%;
  padding-top: 5vh;
  background-color: #e2e2e2;

  display: flex;
  flex-direction: column;
  gap: 7vh;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.span {
  text-align: center;
}

.container h2 {
  margin: 0;
  border-bottom: 1px solid black;
}

.tattooContainer {
  height: 40vh;
  width: 100vw;
  background-color: #b9b9b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barbarContainer {
  height: 40vh;
  width: 80vw;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 15px -7px black;
  color: black;
}

.imgContainer {
  overflow: hidden;
  width: 80px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
}

.button {
  border: none;
  padding: 2vh 10vw;
  border-radius: 10px;
  background-color: #0a0922;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}

.p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.btnOnline {
  border: none;
  padding: 2vh 12vw;
  border-radius: 10px;
  background-color: #4c2c7d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  font-size: 16px;
  gap: 20px;
}

.btnOnlineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.btnOnlineContainer span {
  font-size: 14px;
}
