.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 7rem;
  height: 100%;
  padding-top: 5vh;
  background-color: #e2e2e2;
  background: linear-gradient(#5b268d, black);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 7vh;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.span {
  text-align: center;
}

.container h2 {
  margin: 0;
  border-bottom: 1px solid white;
}

.tattooContainer {
  height: 40vh;
  width: 100vw;
  background-color: #b9b9b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barbarContainer {
  height: 40vh;
  width: 80vw;
  border-radius: 10px;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 15px -7px black;
  color: black;
  transition: all 0.2s linear;
}

.imgContainer {
  overflow: hidden;
  width: 80px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
}

.button {
  border: none;
  padding: 1rem 1rem;
  border-radius: 10px;
  background-color: #0a0922;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9rem;
  transition: 0.3s;
}

.button:hover {
  background-color: #4c2c7d;
  transition: 0.3s;
  cursor: pointer;
}

.p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.btnOnline {
  border: none;
  padding: 1rem 6rem;
  border-radius: 10px;
  background-color: #0a0922;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 2rem;
  font-size: 16px;
  gap: 20px;
  transition: 0.3s;
}

.btnOnlineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.btnOnline:hover {
  background-color: #5b268d;
  transition: 0.3s;
  cursor: pointer;
}

.btnOnlineContainer span {
  font-size: 14px;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.alertContainer {
  display: flex;
  gap: 5px;
}

@media only screen and (min-width: 992px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    height: 80vh;
    padding-top: 5vh;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    align-items: center;
  }
  .cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    position: relative;
  }
  .barbarContainer {
    height: 30vh;
    width: 30vw;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 15px -7px black;
    color: black;
  }
  .barbarContainer:hover {
    width: 35vw;
    height: 35vh;
    transition: all 0.1s ease-in;
  }
  .span {
    text-align: center;
    font-size: 25px;
  }
  .container h2 {
    font-size: 35px;
    margin: 0;
    border-bottom: 1px solid white;
  }
}
