.container {
  height: 90vh;
  margin-top: 0;
  padding: 0 4vw;
  background-color: #e2e2e2;
}
.background {
  height: 90vh;
  background-color: #e2e2e2;
}

.container h2 {
  margin-top: 0;
  padding-top: 10px;
}
.calendarContainer {
  margin: auto;
  width: 240px;
}

.loaderContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.btnsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20vh;
  gap: 10px;
  justify-content: center;
}

.btnsContainer button {
  border-radius: 4px;
  box-shadow: none;
  border: none;
  padding: 0 1.5rem;
  background-color: #4ebf35;
  cursor: pointer;
}

.btnsContainer button:hover {
  background-color: #347725;
}

.btnsContainer button:disabled {
  background-color: grey;
}

.btnsContainer button:focus {
  background-color: #347725;
}

.btnReserve {
  padding: 1rem 6rem;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: black;
  display: flex;
  gap: 10px;
  color: white;
  transition: 0.3s;
}
.btnReserve:disabled {
  background-color: gray;
  color: #c8c8c8;
}

.btnReserve:hover {
  cursor: pointer;
  background-color: #633291;
  transition: 0.3s;
}

.nextBtnContainer {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.notLogged {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.dateSelected {
  font-weight: bold;
  padding-top: 10px;
}

@media only screen and (min-width: 992px) {
  .container {
    height: 60vh;
    margin-top: 0;
    padding: 0 4vw;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  .btnsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
    gap: 10px;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
  }
  .btnsContainer button {
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 1rem 1.5rem;
    background-color: #4ebf35;
  }
  .timeTitle {
    margin-bottom: 0;
  }
  .dateSelected {
    font-weight: bold;
    font-size: 18px;
  }
}
