.container {
  height: 90vh;
  background-color: #e2e2e2;
  padding: 0 4vw;
}

.background {
  height: 90vh;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#5b268d, black);
}

.container h2 {
  margin-top: 0;
  padding-top: 10px;
}

.container h3 {
  margin: 0;
}

.dataContainer {
  display: flex;
  align-items: center;
  gap: 3vw;
  border-bottom: 1px solid #d0d0d0;
}

.dataContainer span {
  align-self: flex-end;
}

.data {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  margin-bottom: 3vh;
}

.btn {
  padding: 1rem 5rem;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: black;
  display: flex;
  gap: 10px;
  margin: auto;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #633291;
  transition: 0.3s;
}

@media only screen and (min-width: 992px) {
  .container {
    height: 70vh;
    background-color: #e2e2e2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .data {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    margin-bottom: 3vh;
  }
}
