.container {
  width: 95%;
  z-index: 300;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  color: #ffff;
  background-color: #ff0707;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 2%;
}

.container p {
  margin: 0;
  margin-left: 20px;
}

.containerDisabled {
  display: none;
}

.materialIcons {
  align-self: flex-start;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 34px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  animation-name: icon-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
  align-self: center;
}
