.container {
  width: 100vw;
  height: 12vh;
  background-color: black;
  border-right: 1px solid black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.titleContainer {
  display: flex;
}
